

<!DOCTYPE html>
<html>
    <head>
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <link rel="apple-touch-icon" sizes="57x57" href="http://www.krissmusic.tk//img/favicon/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="http://www.krissmusic.tk//img/favicon/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="http://www.krissmusic.tk//img/favicon/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="http://www.krissmusic.tk//img/favicon/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="http://www.krissmusic.tk//img/favicon/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="http://www.krissmusic.tk//img/favicon/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="http://www.krissmusic.tk//img/favicon/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="http://www.krissmusic.tk//img/favicon/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="http://www.krissmusic.tk//img/favicon/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="http://www.krissmusic.tk//img/favicon/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="http://www.krissmusic.tk//img/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="http://www.krissmusic.tk//img/favicon/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="http://www.krissmusic.tk//img/favicon/favicon-16x16.png">
        <link rel="manifest" href="http://www.krissmusic.tk//manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
        <meta name="google-site-verification" content="M4CgH0wlh9lRXSn8UdPsMwA2hLGGNRvHfZE8QqOQZY8" />
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>APP</title>
        <meta property="og:url"                content="http://www.krissmusic.tk" />
        <meta property="og:type"               content="Music" />
        <meta property="og:title"              content="KRISS" />
        <meta property="og:description"        content="Upload ,Download and Listen to the latest Kasi tracks by your favourite Artists ❱❱❱" />
        <meta property="og:image"       itemprop="image"       content="www.krissmusic.tk/img/og/preview.png" />
        <meta name="keywords" content="hip hop,music,kasi,apparel ,dance,spaza, south africa">
        <meta name="google-site-verification" content="9W1yVIpOAJzHa3H0rNpTSY8yKrLqt-FAPnMsxOJR5s8" />
        <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous">
        </script>
        <link rel="stylesheet" href="http://www.krissmusic.tk/css/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="http://www.krissmusic.tk/css/home.css" type="text/css">
        <link rel="stylesheet" href="http://www.krissmusic.tk/css/grid.css" type="text/css">
        <link rel="stylesheet" href="http://www.krissmusic.tk/css/android-grid.css" type="text/css">
        <link rel="stylesheet" href="http://www.krissmusic.tk/css/tablet-grid.css" type="text/css">
        <link rel="stylesheet" href="http://www.krissmusic.tk/css/retina-grid.css" type="text/css">
        <link rel="stylesheet" href="http://www.krissmusic.tk/css/default.css" type="text/css">
        <link rel="stylesheet" href="http://www.krissmusic.tk/css/component.css" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lato:900" rel="stylesheet">
    </head>
<script src="http://www.krissmusic.tk/js/jquery.fileDownload.js"></script>
<script src="http://www.krissmusic.tk/js/progress.js"></script>
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-93856902-1', 'auto');
ga('send', 'pageview');

</script>

<style type='text/css'>
  body{
    background:url('http://www.krissmusic.tk/img/Kasil.png')no-repeat center right fixed;
    background-size:cover;
    color: white;
    padding:2% 3%;
  overflow-y:scroll;}
  .list-group-item{background:rgba(255,255,255,0.7);}

</style>

<div class='row text-center'>

  <div class='col-md-12 container' style='padding-left:0% 30%'>
    <div class='row justify-content-center '>
      <ul class='col-md-8 list-group'>
            {{#each songs}}
              <li class='list-group-item'>
                <div class='col-xs-4 col-sm-4 col-md-4 col-lg-4'>
                  <img src='{{image}}' style='max-width:100px;display:inline;'>
                </div>
                <div class='col-xs-12 col-sm-4 col-md-4 col-lg-46 '>

                <a href='/s/{{id}}'>

                  <h2 class="lead"><b>{{name}}</b></h2>
                  <h2 class="lead">{{artist}}</b></h2>
                </a>


                </div>
                <div class='col-xs-12 col-sm-4 col-md-4 col-lg-4'>
                  <a href="{{src}}" download><img id='{{id}}' onclick="download(this,'{{src}}')" class='download ico' src='http://www.krissmusic.tk/img/download.png'></a>
                </div>
              </li>
              {{/each}}

      </ul>
    </div>
  </div>
</div>

<script src="http://www.krissmusic.tk/js/bootstrap.min.js"></script>
