<h1> Songs </h1>
<ul>
{{#each songs}}
  <li>
    <ul>
      <li><b> {{name}}</b></li>
      <li> {{art}}</li>
      <li> {{artist}}</li>
    </ul>
  </li>
{{/each}}
</ul>
<h1> Videos</h1>
<ul>
{{#each videos}}
  <li>
    <ul>
      <li><b> {{name}}</b></li>
      <li> {{art}}</li>
      <li> {{artist}}</li>
    </ul>
  </li>
{{/each}}
</ul>
