
<script src="js/jquery.fileDownload.js"></script>
<script src="js/progress.js"></script>
<script src="js/modernizr.custom.js"></script>
<script>
    (function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function() {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-93856902-1', 'auto');
    ga('send', 'pageview');
</script>
<div class='row'>
    <div id="container-floating">


        <div class="nd1 nds" data-toggle="tooltip" data-placement="left" data-original-title="Edoardo@live.it"><img class="reminder">
            <p class="letter">E</p>
        </div>

        <div id="floating-button" data-toggle="tooltip" data-placement="left" data-original-title="Create" onclick="newmail()">
            <p class="plus">+</p>
            <img class="edit" src="https://ssl.gstatic.com/bt/C3341AA7A1A076756462EE2E5CD71C11/1x/bt_compose2_1x.png">
        </div>

    </div>
    <div class='col-12 main'>
        <div class='row'>
            <div class='text-center col-xs-12 col-sm-12 col-md-6 col-lg-6'>
                <h1 class='logo'>KRISS </h1></div>
            <div class='col-xs-12 col-sm-12 col-md-6 col-lg-6'>
                <div class='col-xs-12 col-sm-12 col-md-6 col-lg-6'>
                    <a href='songlist' class='col-12 btn btn-large btn-warning'>View all</a>
                </div>
                <div class='col-xs-12 col-sm-12 col-md-6 col-lg-6'>
                    <a href='upload' class='col-12 btn btn-large btn-warning'>Upload &nbsp</a>
                </div>

            </div>
        </div>

        <div class='row text-center'>
            <div class='col-md-12 col-xs-12'>
                <p class='display-4 white'>
                    Download and listen to your favorite local musician now.
                </p>
            </div>
        </div>


        <div class='col-md-12 col-xs-12'>
            <link href="https://fontawesome.io/assets/font-awesome/css/font-awesome.css" rel="stylesheet" media="screen">
            {{#each songs}}
                <div class="container col-md-10 col-xs-12" onclick="window.location.replace('/s/{{song_id}}')">
                    <div class="row user-menu-container square">
                        <div class="col-md-12 col-xs-12 user-details">
                            <div class="row coralbg white">
                                <div class="col-md-6 no-pad">
                                    <div class="user-pad">
                                        <h3 class='h4'> {{name}}</h3>
                                        <h4 class="white lead"><i class="fa fa-user-circle"></i> <b>{{artist}}</b></h4>
                                        {{#location}}
                                            <h4 class="white lead"><i class="fa fa-globe"></i> {{this}}</h4>
                                        {{/location}}
                                    </div>
                                </div>
                                <div class="col-md-6 no-pad">
                                    <div class="user-image">
                                        <img src="{{art}}" class="img-responsive thumbnail">
                                    </div>
                                </div>
                            </div>
                            <div class="row overview ">
                                <div class=" col-4 user-pad text-center">
                                    <h3>PLAYS</h3>
                                    <h4>{{play_count}}</h4>
                                </div>
                                <div class=" col-4 user-pad text-center">
                                    <h3>DOWNLOADS</h3>
                                    <h4>{{download_count}}</h4>
                                </div>
                                <div class=" col-4 user-pad text-center">
                                    <h3>FLAMES</h3>
                                    <h4>{{flame_count}}</h4>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</div>

<script src="js/bootstrap.min.js"></script>
<script src="js/classise.js"></script>
<script type="text/hjavascript">
    $(document).ready(function() { var $btnSets = $('#responsive'), $btnLinks = $btnSets.find('a'); $btnLinks.click(function(e) { e.preventDefault(); $(this).siblings('a.active').removeClass("active"); $(this).addClass("active"); var index = $(this).index();
    $("div.user-menu>div.user-menu-content").removeClass("active"); $("div.user-menu>div.user-menu-content").eq(index).addClass("active"); }); }); $( document ).ready(function() { $("[rel='tooltip']").tooltip(); $('.view').hover( function(){ $(this).find('.caption').slideDown(250);
    //.fadeIn(250) }, function(){ $(this).find('.caption').slideUp(250); //.fadeOut(205) } ); });
</script>
