
<script src="js/jquery.fileDownload.js"></script>
<script src="js/progress.js"></script>
<script src="js/modernizr.custom.js"></script>
<script>
    (function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function() {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-93856902-1', 'auto');
    ga('send', 'pageview');
</script>
<style>
  .advert iframe{
    width:100%;
    max-width:100%;
  }
  .advert{
    overflow:hidden;
    background: rgba(255,200,0,.85);

  }
  iframe{
    width:100%;
    max-width:100%;
  }
</style>
<div class='row'>

    <div class='col-12 main'>
      <div class="card card-inverse" style="background-color: #0d1017; border-color: #0d1017;">
        <div class="card-block text-center">
          <p class="card-title display-4 white" style='font-size:1.9rem;'>Keeping it <span style="color:gold;"><b>100</b></span> with the realest in the game. Dowload and Stream below.</p>
          <p class='card-text'>Featured today is Phoenix from the Backyard crew in Khayelitsha , Cape Town. </p>
        </div>
      </div>
        <div class='row'>
          <div class='col-md-2 col-xs-12 ' style='overflow:hidden;height:72vh;background:url(/assets/phoenix/phoenix1.jpg) center;background-size:cover;'>
          </div>
          <div class="col-md-8  text-center" style='margin-top:30px;margin-bottom:30px;'><div style="position:relative;height:70vh;padding-bottom:56.25%" class='text-center'><iframe src="https://www.youtube.com/embed/2Ko7Z20xeKY?autoplay=1&loop=1&ecver=2" width="320" height="72vh" frameborder="0" style="position:absolute;width:100%;height:100%;left:0" allowfullscreen></iframe></div></div>

          <div class='col-md-2 col-xs-12' style='overflow:hidden;height:72vh;background:url(/assets/phoenix/phoenix2.jpg)center;background-size:cover;'>
          </div>
       </div>
       <div class="card card-inverse card-warning mb-3 text-center" style="background-color: #0d1017; border-color: #0d1017;">
         <div class="card-block">
           <blockquote class="card-blockquote">
             <h4 class="display-4 white" style='font-size:1.9rem;'> Latest News </h4>
             <br/>
             <p class='lead'><a href="https://www.audiomack.com/album/black-magic-15" style="color:gold;"> Black Magic </a> releases much anticipated <a href="https://www.audiomack.com/album/black-magic-15/ghost-of-pablo" style="color:gold;"><b>Ghost of Pablo</b></a>. </p>
             <p class='lead'><a href="facebook.com/manaxv2v" style="color:gold;"> Stunna </a> releases new single <a href="http://www.datafilehost.com/d/5239ca01" style="color:gold;"><b>9 Gang</b></a>. </p>
            </blockquote>
         </div>
       </div>

      <div class="card card-inverse card-warning mb-3 text-center" style="background-color: #0d1017; border-color: #0d1017;">
         <div class="card-block">
           <blockquote class="card-blockquote">
             <h4 class="display-4 white" style='font-size:1.9rem;'> Featured Music </h4>
             <p class='lead'> Some of the hottest current musicians nationwide. </p>
           </blockquote>
         </div>
       </div>
        <div class='card-group' style='margin-top:50px;margin-bottom:30px;'>
          {{#each songs}}
          <div class="card col-md-5 col-xs-12 col-sm-12" style="padding:0;margin:1%;">

            <div class="card-block">
              <h4 class="card-title">{{artist}}</h4>
              <p class="card-text">{{name}}</p>
              <p class="card-text badge badge-danger">{{genre}}</p>
              <p class='cad-text'>{{location}}</p>
              <p class="card-text">
                    <i class="fa fa-play black" style='color:#0d1017'> {{play_count}}</i>
                    <i class="fa fa-download black" style='color:#0d1017'>{{download_count}}</i>
                    <i class="fa fa-fire black" style='color:#0d1017'>{{flame_count}}</i>
              </p>
              <a class='btn btn-primary' href='/s/{{song_id}}'> Go to </a>
            </div>
          </div>
          {{/each}}
       </div>
    </div>
</div>

<script src="js/bootstrap.min.js"></script>
<script src="js/classise.js"></script>
