<script type='text/javascript'>
  var isOperaMini = (navigator.userAgent.indexOf('Opera Mini') > -1);
  var isOperaMobi = (navigator.userAgent.indexOf('Opera Mobi') > -1);

  if(isOperaMini || isOperaMobi){
    window.location('https:///www.krissmusic.tk/')
  }


</script>
<script src="js/jquery.fileDownload.js"></script>
<script src="js/progress.js"></script>
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-93856902-1', 'auto');
ga('send', 'pageview');

</script>

<style type='text/css'>
  body{
    background:url('/img/Kasil.png')no-repeat center right fixed;
    background-size:cover;
    color: white;}
  .list-group-item{background:rgba(255,255,255,0.7);}

</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script  type="text/javascript" src="js/typeahead.js/typeahead.bundle.js"></script>
<script type="text/javascript">
$(document).ready(function(){
  // Defining the local dataset
  var songs=[],name,id;
  {{#each songs}}
    name="{{name}}"
    id="{{id}}"
    songs.push({name:name,id:id})
  {{/each}}

  var tracks= songs.map(function(song){return song.name})
  console.log(tracks)
  // Constructing the suggestion engine
  var songs = new Bloodhound({
  datumTokenizer: Bloodhound.tokenizers.whitespace,
  queryTokenizer: Bloodhound.tokenizers.whitespace,
  local: tracks
  });
  // Initializing the typeahead
  $('.typeahead').typeahead({
      hint: true,
      highlight: true, /* Enable substring highlighting */
      minLength: 1 /* Specify minimum characters required for showing result */
    },
    {
      name: 'songs',
      source: songs
    }
  );
});
</script>
<style type="text/css">

.typeahead, .tt-query, .tt-hint {
border: 1px solid #489;
border-radius: 5px;
font-size: 22px; /* Set input font size */
height: 30px;
line-height: 30px;
outline: medium none;
padding: 18px 12px;
width: 95vw;
}
.typeahead {
background-color: #FFFFFF;
}
.typeahead:focus {
border: 2px solid #0097CF;
}
.tt-query {
box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
.tt-hint {
color: #999999;
}
.tt-menu {
background-color: #FFFFFF;
border: 1px solid rgba(0, 0, 0, 0.2);
border-radius: 8px;
box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
margin-top: 12px;
padding: 8px 0;
width: 50vw;
}
.tt-suggestion {
font-size: 22px;  /* Set suggestion dropdown font size */
padding: 3px 20px;
color:black
}
.tt-suggestion:hover {
cursor: pointer;
background-color: #0097CF;
color: #FFFFFF;
}
.tt-suggestion p {
margin: 0;
}
.main{padding:0}
.bs-example{padding:5px 5%}
.avatar-image{
  width:80px;
  height:80px;
  max-width: 100%;
  border:3px solid white;
  box-shadow:1px 1px 5px 1px rgba(0,0,0,0.5);
}
li.list-group-item:hover  .avatar-image{
  border-color: rgba(255, 200, 0, 0.85);
    transform:scale(1.2);
    transition: transform .1s ease-in-out;
}

</style>
<div class='row text-center justify-content-center '>
  <div class='col-12 col-md-offset-1 col-xs-offset-1' style="background:#399;">
        <form class='row' method="post" action="/s/find">
          <div class='col-8 bs-example'>
            <div class="input-group">
            <input name='name' type="text" class="col-12 typeahead tt-query" autocomplete="off" spellcheck="false" placeholder="search">
            <span class="input-group-btn">
                <span class="glyphicon glyphicon-search" aria-hidden="true">
                </span>
            </span>
            </div>

          </div>
          <div class='col-md-12 col-xs-12 col-sm-12';>
            <input type="submit" class='btn form-control col-xs-12 col-md-4' style='text-align:center;background:rgba(255,200,0,1);border-radius:10px!important'value="Find">
          </div>
        </form>

  </div>

  <div class='main'>
    <ul class='list-group-horizontal'>
      	<li class='list-group-item' style='color:white;padding:5%;background-color: #0d1017; '>
      		<p class='lead'>
      		Browse by genre and other interesting features coming soon
      		To request a feature support plese email your suggestions at ayabonga@projectcodex.co
      		</p>
      	</li>
         {{#each songs}}
            <li class='list-group-item col-md-4' style='background-color: #0d1017; border-left:1px solid white;border-top:none;border-bottom:none;'>
              <div class='row'>
              <div class='col-4'>
                <img src="{{image}}" class='avatar-image'/>
              </div>
              <div class='col-8 text-center'>
                <div class='col-xs-12'>
                  <a href='/s/{{id}}' style="text-decoration:none">
                    <h6 class="lead"><b>{{name}}</b></h6>
                    <h6 class="display-6">{{artist}}</b></h6>
                    <span class="badge badge-danger">{{genre}}</span>

                  </a>
                </div>
                <div class='col-xs-12' style='margin-top:10px'>
                  <a href="{{src}}" download>
                    <span id='{{id}}' onclick="download(this,'{{src}}')" class='download ico'>
                      <i class="fa fa-download black" style='color:#333;text-shadow:0px 0px 0px white;'></i>
                    </span>
                  </a>
                  <span id='{{id}}' onclick="playSound(this,'{{src}}');" class='play ico' ><i class="fa fa-play black" style='color:#333;text-shadow:1px 1px 1px gold;font-size: 1.5em;'></i></span>
                  <span id='{{id}}' onclick='flame(this)' class='heat ico'><i class="fa fa-hand-pointer-o black" style='color:#333;text-shadow:0px 0px 0px #333;'></i></span>
                  <div class="hp_slide" style='margin:10px;'>
                      <div class="hp_range"></div>
                  </div>
                </div>
              </div>
              </div>
            </li>
            {{/each}}

    </ul>
      <div class="col-12 card-panel lead" style="padding:16%;">
		<p> This Website Has been Developed By<a href=''www.salmonesolutions.tk'> Salmone Solutions</a> </p>
		<p> Contact Ayabonga Qwabi ayabonga@projectcodex.co </p>
        </div>
  </div>
</div>

<script src="js/bootstrap.min.js"></script>
