
<head>
<meta name="google-site-verification" content="M4CgH0wlh9lRXSn8UdPsMwA2hLGGNRvHfZE8QqOQZY8" />
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>{{song.name}}</title>
        <meta property="og:url"                content="http://www.kasirapcentral.tk/versus" />
        <meta property="og:type"               content="Music" />
        <meta property="og:title"              content="{{song.name}}" />
        <meta property="og:description"        content="Download , Listen and flame {{song.artist}}'s {{song.name}} on Kriss now" />
        <meta property="og:image"              content="{{song.image}}" />
        <meta name="keywords" content="hip hop,music , apparel ,dance,spaza, south africa">
        <meta name="google-site-verification" content="9W1yVIpOAJzHa3H0rNpTSY8yKrLqt-FAPnMsxOJR5s8" />
        <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous">
        </script>
        <link rel="stylesheet" href="../css/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="../css/home.css" type="text/css">
        <link rel="stylesheet" href="../css/grid.css" type="text/css">
        <link rel="stylesheet" href="../css/android-grid.css" type="text/css">
          <link rel="stylesheet" href="../css/tablet-grid.css" type="text/css">
          <link rel="stylesheet" href="../css/retina-grid.css" type="text/css">
           <link rel="stylesheet" href="../css/component.css" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lato:900" rel="stylesheet">

    </head>









<script src="../js/jquery.fileDownload.js"></script>
<script src="../js/progress.js"></script>
<script src="../js/modernizr.custom.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-93856902-1', 'auto');
  ga('send', 'pageview');

</script>
<style>
  body{overflow-y:scroll}
  .jumbotron{
    background: black;
    color:white;
  }
  .image{
    max-width:100%;
    height:300px;
  }
  .image-wrapper{
    padding:15px;
  }
  .black{
    background:black;
  }
  .logo{color:black;}
  a:hover{
    text-decoration: none;
  }
  a:active{
    text-decoration: none;
  }
</style>
<div class='row justify-content-center'>
    <div class=' col-xs-12 col-sm-12 col-md-6 col-lg-6'><a href='/' ><h1 class='logo'>KRISS </h1></a></div>
    <div class='col-xs-12 col-sm-12 col-md-6 col-lg-6'>
      <div class='col-xs-12 col-sm-12 col-md-6 col-lg-6'>
         <a href='/songlist' class='btn btn-3 btn-3a icon-list-all'>View all</a>
       </div>
       <div class='col-xs-12 col-sm-12 col-md-6 col-lg-6'>
          <a href='/upload' class='btn btn-3 btn-3a icon-arrow-up'>Upload &nbsp</a>
        </div>

    </div>
</div>
<div class='row justify-content-center'>
  <div class='col-md-12 text-justify' style='padding:8%;color:black;background:#fcad26;'>
    <p class='lead'> Listen and Download </p>
    <h2 class='display-5'> Did you know ? </p>
    <p class='lead'> Every time your song is downloaded </p>
    <p class='lead'>  on KRISS you get 25c.</p>
    <p class='lead'><a href='/upload'><b> Upload Yours NOW !</b></a></p>
  </div>
</div>
<div class='row black' style='padding:2%;'>
  <div class='col-md-4 col-xs-12 text-center image-wrapper'>
    <img class='image' src='{{song.image}}'/>
  </div>
  <div class="col-md-4 col-xs-12 jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4 container-fluid">{{song.name}}</h1>
      <div class='col-xs-12 col-sm-12 col-md-6 col-lg-12'>
        <h4 class="h4 container-fluid">{{song.artist}}</h4>
        <input class='form-control col-md-12 col-xs-12' value='www.kasirapcentral.tk/s/{{song.id}}' onmouseenter='this.select()'>
      </div>
      <div class='col-xs-12 col-sm-12 col-md-6 col-lg-12'>
        <a href="../{{song.src}}" download><img id='{{id}}' onclick="download(this,'{{../song.src}}')" class='download ico' src='../img/download.png'></a>
        <img id='{{song.id}}' onclick="playSound(this,'../{{song.src}}');" class='play ico' src='../img/play.png'  />

        <div class='analytics'>
          <span class='badge badge-pill badge-warning download_count'>{{song.download_count}}</span>'
          <span class='badge badge-pill badge-warning play_count'>{{song.play_count}}</span>'
        </div>
        <div class="hp_slide">
            <div class="hp_range"></div>
        </div>
      </div>
    </div>
  </div>
  <div class='col-md-4 col-xs-12'>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- responsive bar kasi -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-8294995671791919"
         data-ad-slot="4328078988"
         data-ad-format="auto"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>

</div>
